body{
    background: url(bg-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.dark .body-dark{
     background: url(bg-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.lh-0{
    line-height: 0;
}

.dark-switch{
    width: 3rem !important;
    height: 1.5rem;
}

.dark .dark-text-white{
    color: #FAFBFC;
}

.light-text-dark{
    color: #4C6879;
}

.header{
    padding-top: 100px;
}


.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.header .countdown div{
text-align: center;
border: 2px solid rgba(255, 255, 255, 0.8);
border-radius: 8px;
margin: 10px 10px ;
width: 150px;
padding: 15px 0;
}

.dark .dark-btn{
    background-color: #FAFBFC;
    color: #4C6879;
    box-shadow: 0 0  20px #4C6879;
    transition: all 0.3s;
    
}
.light-btn{
    background-color: #4C6879;
    color: #FAFBFC;
    box-shadow: 0 0  20px #4C6879;
    transition: all 0.3s;

}


.light-btn {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #FAFBFC;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 60px;
}

.light-btn::after,
.light-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.light-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #4C6879;
  border-radius: 10px;
}

.light-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #4C687915;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.light-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.light-btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.light-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.dark .dark-btn {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #4C6879;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 60px;
}

.dark .dark-btn::after,
.dark .dark-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.dark .dark-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #FAFBFC;
  border-radius: 10px;
}

.dark .dark-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #8193a515;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.dark .dark-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.dark .dark-btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.dark .dark-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.mass-btn{
    background-color: #4C6879;
    color: #FAFBFC;
}

.content .card{
    border-top: 3px solid#4C6879;
    border-bottom: 3px solid#4C6879;
    padding: 30px;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.06);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba( 0 0 0 / 12%);
}